[Desktop Entry]
Comment=A player for slide shows of the MinDia program
Exec=zmindia
Icon=Zmindia
Type=Application
Name=ZMinDia
Name[de]=ZMinDia
Display=640x480/144dpi,480x640/144dpi,240x320